#loginPanel {
	display:block;
	border:1px solid #000;
	margin:5px auto;
	padding:5px 10px;
	width:500px;
	line-height:30px;
}
#login {
	border:1px solid #000;
	background-color:#ACF;
}
#errors {
	position:fixed;
	color:#FFF;
	font-weight:bold;
	background-color:#A00;
	margin:125px auto 0 auto;
	left: 0;
	right:0;
	width:400px;
	padding:4px 10px;
	z-index:1;
	opacity:0;
	text-align:center;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.selected {
  background-color:#FFE;
}
