html, body {
      margin:0;
      padding:0;
      font-family:arial,helvetica,sans-serif;
      font-size:10pt;
      background-color:#F8F4F4;
}
#body_w {
	margin:5px 5px;
}
#banner {
	width:1000px;
	height:100px;
	border: 1px solid #444;
}
#body_panel {
	height:600px;
}
#footer {
	border:1px solid #000;
	width:1000px;
}


