html, body {
  margin:0;
  padding:0;
  font-family:arial,helvetica,sans-serif;
  font-size:11pt;
  background-color:#F9F4F5;
}
#body_w {
  width:1000px;
  left:0;
  right:0;
  margin:10px auto 0 auto;
}
#body_panel {
  width:800px;
  left:0;
  right:0;
  margin:0 auto 0 auto;
  text-align:center;
}
#foot {
	border:1px solid #000;
	left:0;
	right:0;
	width:1000px;
	text-align:center;
	clear:both;
}
#foot span {
	display:block;
	text-decoration:none;
	padding:6px 12px 6px 12px;
	line-height:120%;
	color:#333;
	font-weight:bold;
	border-left-color:#FFF;
	border-right-color:#FFF;
	border-left-width:1px;
	border-right-width:1px;
	border-left-style:solid;
	border-right-style:solid;
}
#nav, #foot {
	margin:0;
	margin-bottom:10px;
	background: #E4E4E4 url('../img/navbg.gif') scroll repeat-x 0 0;
	padding:1px 0;
	padding-right:10px;
	border:1px solid #AAA;
}
#nav a {
	display:block;
	float:left;
	text-decoration:none;
	padding:6px 12px 6px 12px;
	line-height:120%;
	color:#333;
	font-weight:bold;
	border-left-color:#FFF;
	border-right-color:#AAA;
	border-left-width:1px;
	border-right-width:1px;
	border-left-style:solid;
	border-right-style:solid;
}
#nav a:hover {
	background-color:#666;
	color:#FFF;
}
#nav .right {
	padding:4px 12px;
	float:right;
}
#nav .left {
	padding:6px 12px;
	float:left;
}
